<p id="notice"><%= notice %></p>

<h1>Listing Clauses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clauses.each do |clause| %>
      <tr>
        <td><%= clause.title %></td>
        <td><%= clause.body %></td>
        <td><%= clause.meta %></td>
        <td><%= link_to 'Show', clause %></td>
        <td><%= link_to 'Edit', edit_clause_path(clause) %></td>
        <td><%= link_to 'Destroy', clause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clause', new_clause_path %>
